
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

main.container {
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

body {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#contact-content {
    margin-left: 5px;
    line-height: 2.0em;
}

#contact-content i {
    margin-right: 8px;
    font-size: 20px;
    vertical-align: middle;
}

.profile {
    max-width: 100px;
    border-radius: 50%;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
    bottom: 5px;
}

h1, h2, strong {
    font-weight: 500;
    color: #667;
}

h1 {
    margin-bottom: 40px;
}

h2 {
    margin-top: 40px;
}

p, li {
    color: #566b78;
    line-height: 1.7;
}

a {
    text-decoration: none;
    color: #185cdc;
}

a:hover {
    text-decoration: underline;
}

.yt-caption {
    float: right;
    margin: 0px;
    margin-top: 3px;
    font-size: 14px;
}
